body, html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(0, 37, 46);
}

* {
    box-sizing: border-box;
    outline: none;
}

a, svg path, button, input {
    text-decoration: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    cursor: pointer;
}

p {
    margin: 5px auto;
}

h1, h2, h3 {
    margin: 10px auto;
}

section {
    padding: 0 10px;
}

#wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    min-height: 15vh;
}

#logo img {
    max-width: 48px;
    width: 100%;
}

#btn {
    border: 1px solid rgba(245, 59, 87, 1.0);
    background-color: #fff;
    color: rgba(245, 59, 87, 1.0);
    padding: 10px;
    font-size: 1rem;
    min-width: 150px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#btn:hover {
    color: rgba(239, 87, 119, 1.0);
    border: 1px solid rgba(239, 87, 119, 1.0);
    box-shadow: 0 0 10px 1px rgba(239, 87, 119, 1);
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

#header h1, #build_community h1 {
    font-size: 2.5rem;
}

#header p {
    max-width: 500px;
    width: 100%;
}

.big_btn {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

#button_big {
    min-width: 300px;
    color: #fff;
    background: rgba(245, 59, 87, 1.0);
    border: none;
    width: 100%;
    margin: 30px auto;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#button_big:hover {
    background: rgba(239, 87, 119, 1.0);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

#main_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big_image {
    display: flex;
    justify-content: center;
}

.big_image img {
    max-width: 1035px;
    width: 90%;
}

#coummunity {
    display: flex;
    margin: 50px auto 30px;
    max-width: 959px;
    width: 99%;
    justify-content: space-between;
    text-align: center;
}

#coummunity p {
    opacity: 0.8;
}

.users img, .messages img {
    max-width: 40px;
    width: 100%;
}

.number {
    font-size: 4rem;
    font-weight: 900;
}

.users, .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#our_vision {
    margin: 50px auto;
}

.grow {
    padding: 90px 0;
    margin: 30px auto;
    background: url(/images/bg-section-top-desktop-1.svg), url(/images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
}

.content {
    width: 100%;
    margin-left: 60px;
    max-width: 530px;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.grow:nth-last-of-type(2) .content {
    margin-right: 60px;
    margin-left: 0;
}

.grow_image {
    display: flex;
    justify-content: center;
}

.grow>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10px;
    margin: 45px auto;
    background: rgb(245, 250, 255);
}

.grow:nth-of-type(2) {
    background: none;
    margin: 0 auto;
}

.grow:nth-of-type(2)>div {
    background: none;
    flex-direction: row-reverse;
    margin: 0 auto;
    padding: 0;
}

.grow img {
    width: 99%;
    max-width: 550px;
}

.grow:nth-of-type(3) {
    background: url(/images/bg-section-top-desktop-2.svg), url(/images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
}

#build_community {
    text-align: center;
    margin: 100px auto;
}

#footer {
    background: url(/images/bg-footer-top-desktop.svg) no-repeat top;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer_content {
    background: rgb(0, 37, 46);
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 155px auto 0;
    padding: 50px 10px 10px;
    color: #fff;
}

.info {
    max-width: 360px;
    width: 100%;
}

.newsletter {
    max-width: 400px;
    width: 100%;
}

.info p {
    margin: 15px auto;
    line-height: 25px;
    font-size: 0.9rem;
}

.phone, .email {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.phone p, .email p {
    margin: 0 0 0 10px;
}

.social {
    display: flex;
    align-items: center;
    max-width: 95px;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0 10px;
}

svg path:hover {
    fill: rgb(0, 208, 255);
}

.newsletter h3 {
    text-transform: uppercase;
}

.newsletter p {
    margin: 15px auto;
    line-height: 25px;
    font-size: 0.9rem;
    max-width: 300px;
    margin: 10px 0;
}

.input_email {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input_holder {
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: rgba(255, 97, 97, 1);
}

.success {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: rgb(0, 208, 255);
}

#input {
    min-width: 250px;
    max-width: 300px;
    width: 100%;
    padding: 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 5px;
    cursor: auto;
}

#input:focus {
    border: 1px solid rgba(239, 87, 119, 1.0);
}

.subscribe_btn {
    max-width: 105px;
    width: 100%;
    margin-right: 10px;
}

.subscribe_btn button {
    width: 100%;
    color: #fff;
    background: rgba(245, 59, 87, 1.0);
    padding: 9px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.subscribe_btn button:hover {
    background: rgba(239, 87, 119, 1.0);
}

.show {
    display: block;
    margin-bottom: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    html {
        font-size: 80%;
    }
    #header h1, #build_community h1 {
        font-size: 2rem;
    }
    #coummunity {
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 20px;
    }
    .grow, #our_vision, #build_community {
        margin: 0 auto !important;
    }
    .grow>div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }
    .grow:nth-of-type(2)>div {
        flex-wrap: wrap-reverse;
    }
    .footer_content {
        flex-wrap: wrap;
        padding: 0 10px;
    }
    .content {
        margin: 0 auto !important;
    }
    #our_vision {
        padding: 0;
    }
}

@media (max-width: 781px) {
    .newsletter {
        max-width: 360px;
    }
}

@media (max-width: 361px) {
    .footer_content {
        padding-bottom: 20px;
        margin: 105px auto 0;
    }
    #coummunity {
        margin-bottom: 0;
    }
}